.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 40px;
}

form button {
  border-radius: 30px;
  background-color: #8b8ae1;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  transition: opacity 0.3s ease;
}

form button:hover {
  opacity: 0.8;
}

form input {
  border: 1px solid #48456c;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
  color: #fff;
  font-size: 16px;
  padding-left: 15px;
  outline: none;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2d4e;
  margin: 10px;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.card p {
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
}

.card p span {
  font-weight: normal;
  color: #d1d1d1;
}

.card button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.card button img {
  width: 25px;
  height: 25px;
}

.card button:hover {
  opacity: 0.7;
}
